:root {
    --body-color: #2b2d33;
    --primary: #f75023;
    --text-color: #b9b5c9;
    --green: #1cbe59;
    --yellow: #f0c45c;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --jost-font : "Jost", sans-serif;
    --open-sans : "Open Sans", sans-serif;
}

/* All Common css start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
ul, ol,  li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
html,
body {
    scroll-behavior: smooth;
    background-color: var(--body-color);
}
/* .container{

    margin: 0 auto;
} */
h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
}
p{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: var(--text-color);
}
h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: var(--primary);
}
h2{
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    color: var(--white);
}
.btn-prime{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    background: transparent;
    border-radius: 50px;
    border: 2px solid var(--primary);
    font-family: var(--jost-font);
    color: var(--white) !important;
    padding: 9px 35px 8px 35px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.btn-prime::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: all linear .3s;
}
.btn-prime:hover::after{
    height: 2px;
}
.flex{
    display: flex;
    flex-direction: column;
}
/* All Common css end */

#navbar{
    width: 100%;
    position: absolute;
    margin-top: 20px;
}
/* All Common css start */
.main-menu li {
    margin: 0 15px;
}
.main-menu li a{
    color: var(--white) !important;
    font-family: var(--jost-font);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}
.main-menu li a:hover{
    color: var(--primary) !important;
}
.main-menu li a.active{
    color: var(--primary) !important;
}
.cv-button a{
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    border: 2px solid var(--primary);
    font-family: var(--jost-font);
    transition: all linear .3s;
    padding: 9px 35px 9px 35px;
    /* overflow: hidden; */
}
/* All Common css end */
#banner{
    width: 100%;
    /* height: 100vh; */
    background: url(../images/banner\ bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.align-item{
    padding: 250px 0 150px;
    align-items: center;
}
.banner-info h4{
    font-size: 25px;
    font-weight: 500;
    color: var(--primary);
}
.banner-info h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 78px;
    color: var(--white);
    padding-bottom: 10px;
}
.banner-info h5{
    font-size: 19px;
    font-weight: 500;
    line-height: 24px;
    font-family: var(--open-sans);
    color: var(--white);
}
.banner-info h5 .green{
    color: #1cbe59;
}
.banner-info h5 .yellow{
    color: #f0c45c;
}
.banner-info p{
    padding: 10px 0 15px;
}
.banner-img img{
    display: block;
    margin: auto;
}
.banner-btn span {
    padding: 0 30px;
}
.banner-btn span a{
    color: var(--white);
    padding: 0 10px;
}
.banner-img{
    position: relative;
}
.banner-img .man-img{
    width: 320px;
    height: 400px;
}
.banner-img .float-1{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 8px;
    top: 10px;
    left: 90px;
    animation: float1 2s linear infinite  alternate;
}
@keyframes float1{
    0%{
        top: 0;
    }
    100%{
        top: -20px;
    }
}
.banner-img .float-2{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 210px;
    right: 90px;
    border-radius: 10px;
    animation: float2 2s linear infinite alternate;
}
@keyframes float2{
    0%{
        top: 0;
    }
    100%{
        top: -60px;
    }
}
.mouse{
    padding-top: 70px;
}
#wheel{
    animation: scroll 1s linear infinite alternate;
}
@keyframes scroll{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(50px);
    }
}



#process{
    padding: 180px 0 90px;
}
.process-items{
    width: 386px;
    /* padding: 0 30px; */
}
.process-items .item-img{
    width: 95px;
    height: 95px;
    position: relative;
    margin: 0 auto;
}
.process-items .item-img .mid-img{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}
.process-items .item-info h3{
    color: var(--white);
    padding: 30px 0 15px;
}


/* ==About Section Css Start == */
/* .count-success h2{
    font-size: 60px;
    font-weight: 500;
    line-height: 78px;
    color: var(--green);
}
.count-success p{
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: var(--white);
} */
#about{
    width: 100%;
    padding: 90px 0;
    position: relative;
}
.about-top-img{
    width: auto;
    position: absolute;
    z-index: 11;
    top: 40px;
    left: 40px;
}
.about-bottom-img{
    width: auto;
    position: absolute;
    z-index: 11;
    bottom: 40px;
    right: 40px;
    padding-right: 30px;
}
.about-info {
    padding-left: 60px;
}
.about-info p{
    padding: 10px 0 30px;
}
.about-head h2{
    padding-right: 60px;
}
.about-img{
    position: relative;
}
.count-success{
    width: 200px;
    height: 100px;
    background-color: var(--gray-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 25px;
    background: #4b4f5c;
    z-index: 2;
    border-radius: 8px;
    position: absolute;
    left: -70px;
    top: 150px;
}
.count-project{
    width: 200px;
    height: 100px;
    background-color: var(--gray-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 25px;
    background: #4b4f5c;
    border-radius: 8px;
    position: absolute;
    z-index:1;
    position: absolute;
    right: -35px;
    bottom: 100px;
}
.count-success p{
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    color: var(--white);
    margin: 0;
}
.count-success .year{
    font-size: 50px;
    line-height: 65px;
    font-weight: 500;
    color: #1cbe59;
}
.count-project .year{
    font-size: 50px;
    line-height: 65px;
    font-weight: 500;
    color: #6e50f0;
}
.count-project p{
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    color: var(--white);
    margin: 0;
}

/* ==About Section Css End == */

#portfolio{
    padding: 0 0 50px;
}
.portfolio-head{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.portfolio-head h2{
    padding: 0 0 10px;
}
#portfolio .menu{
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}
#portfolio .menu button{
    margin: 0 10px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: medium;
    border-radius: 8px;
    border: none;
    transition: all linear .3s;
}
#portfolio .menu button:hover{
    background-color: var(--primary);
    color: var(--white);
}
.box-list .box-item{
    margin-bottom: 30px;
}
.box-list .box-item img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: all linear .6s;
}
.box-list .box-item:hover img{
    transform: scale(1.01);
}

#skills{
    padding: 180px 0 0;
}
.skills-item{
    align-items: center;
}
.skills-item .skills-info{
    padding-right: 100px;
}
.skills-item .skills-info p{
    padding-top: 10px;
}
.skills-img{
    text-align: end;
}




#services{
    padding: 180px 0 0;
    position: relative;
}
#services picture .services-top-img{
    width: 460px;
    position: absolute;
    z-index: 0;
    top: 250px;
    left: 0;
}
#services picture .services-bottom-img{
    width: auto;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0; 
}
.service-content .service-head{
    width: 630px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.service-items .service-item{
    margin-bottom: 25px;
    background: #4b4f5c;
    opacity: 100%;
    border-radius: 16px;
    padding: 60px 65px;
    display: flex;
    gap: 30px;
}
.service-items .service-item .services-icon{
    text-align: center;
    max-width: 150px;
    height: 96px;
    position: relative;
}
.service-items .service-item .services-icon .ser-img{
    max-width: 54px;
    height: 54px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
}

.service-items .service-item .service-text h3{
    font-size: 30px;
    color: var(--white);
}
.service-items .service-item .service-text h4{
    font-size: 20px;
    color: var(--white);
    padding: 15px 0 10px;
}
.service-items .service-item .service-text h4 span{
    color: var(--primary);
}
/* .service-content .service-item .srv-icon img{ 
    object-fit: cover;
} */

#reviews{
    padding: 180px 0 0;
    position: relative;
}
#reviews picture .reviews-top-img{
    width: auto;
    position: absolute;
    z-index: 0;
    top: 40px;
    right: 20px; 
}
#reviews .reviews-content .reviews-head{
    width: 650px;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
}
.slick_slide .review{
    text-align: center;
}
.reviews-content .review img{
    margin: 0 auto 20px;
}
.slick_slide .review p{
    font-family: var(--open-sans);
    font-size: 30px;
    font-style: italic;
    line-height: 40px;
    color: #b9b5c9;
}
.slick_slide .review .client{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 30px;
    padding: 30px 0 40px;
}
.review .client .client-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0;
}
.review .client .client-info p{
    font-size: 18px;
    line-height: 18px;
}

.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    border: 1px solid rgba(255, 255, 255, 0);
    background:transparent;
    padding: 5px;
    border-radius: 50%;
}
.slick-dots li.slick-active{
    border: 1px solid var(--yellow);
}
.slick-dots li button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary);
    font-size: 0;
    border: none;
}




#brand{
    padding: 180px 0 0;
    position: relative;
}
#brand picture .brand-top-img{
    width: auto;
    position: absolute;
    z-index: 0;
    top: 40px;
    left: 20px; 
}
#brand .brand-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
}
#brand .brand-content div{
    border: 1px solid #555;
    width: 100%;
    height: 100%;
    position: relative;
}
#brand .brand-content img{
    max-width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 50%;
}
#brand .brand-content div:hover img{
    opacity: 100%;
}


#news{
    padding: 180px 0;
    position: relative;
}
.news-content .news-head{
    width: 550px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}


.news-item .news-img{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.news-item .news-img img{
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: all linear .2s;
}
.news-item:hover .news-img img{
    transform: scale(1.1);
}
.news-item .news-img .date{
    padding: 13px 20px;
    position:absolute;
    top: 18px;
    right: 18px;
    z-index: 9;
    text-align: center;
    background-color: #1cbe59;
    border-radius: 12px;
}
.news-item .news-img .date h3, p{
    color: var(--white);
    margin: 0;
}
.news-item .news-img .date p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}
.news-item .news-info p{
    color: var(--primary);
    padding: 25px 0 10px;
}
.news-item .news-info h3{
    color: var(--white);
}



/* ==About Section Css Start == */
/* ==About Section Css End == */
/* ==About Section Css Start == */
/* ==About Section Css End == */
/* ==About Section Css Start == */
/* ==About Section Css End == */
/* ==About Section Css Start == */
/* ==About Section Css End == */
/* ==About Section Css Start == */
/* ==About Section Css End == */
/* ==About Section Css Start == */
/* ==About Section Css End == */
